---
title: Uant Blog
active_navbar_tab: navbar-blog
blog: blog
---
<h1></h1>
<section class="first last block-type-text block-title-divider block">
<pre style="font-size: 30px; font-size: 1.1vw;">     
              .-.   U-N-I-V-E-R-S-I-T-Y---O-F---A-N-T-A-R-C-T-I-C-A---B-L-O-G   .-.
             /   \           .-.                                 .-.           /   \
            /     \         /   \       .-.     _     .-.       /   \         /     \
          -/-------\-------/-----\-----/---\---/-\---/---\-----/-----\-------/-------\- 
                    \     /       \   /     `-'   `-'     \   /       \     /
                     \   /         `-'                     `-'         \   /
                      `-'                                               `-' </pre></section>

<div class="col-xs-12 col-sm-9">
  
  <% blog.articles[0...5].each do |article| %>
    <article>
      <h2>
        <a href="<%= article.url %>"><%= article.title %></a>
        <time><%= article.date.strftime('%b %e %Y') %></time>
      </h2>

      <%= article.summary %>

      <a href="<%= article.url %>">Read more</a>
    </article>
  <% end %>

</div>


  <br>


</div><!-- .welcome -->
