---
title: Uant Blog
active_navbar_tab: navbar-blog
---

<h1> BLOG IN A DIFFERENT FOLDER </h1>


<div class="col-xs-12 col-sm-9">
  
  <% blog.articles[0...5].each do |article| %>
    <article>
      <h1>
        <a href="<%= article.url %>"><%= article.title %></a>
        <time><%= article.date.strftime('%b %e %Y') %></time>
      </h1>

      <%= article.summary %>

      <a href="<%= article.url %>">Read more</a>
    </article>
  <% end %>

</div>


  <br>


</div><!-- .welcome -->