<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>

    <!-- Stylesheets -->
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= stylesheet_link_tag "http://getbootstrap.com/dist/css/bootstrap.css" %>
    <%= stylesheet_link_tag "extras" %>
    <%= stylesheet_link_tag "offcanvas" %>


    <!-- Javascript -->
    <%= javascript_include_tag "http://code.jquery.com/jquery.min.js" %>
    <%= javascript_include_tag "http://getbootstrap.com/dist/js/bootstrap.js" %>
    <%= javascript_include_tag "offcanvas" %>
    <%= javascript_include_tag  "background" %>


  </head>

  <body class="<%= page_classes %>">
    <br/>
    <br/>
    <br/>
    <img id="background">
    <!-- left padding -->
    <div class="col-md-2"></div>
    <div class="container col-md-8 well">
    
      <!-- nav bar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="well"> 
            <div class="container-fluid">
              <div class="row">
                  <div class="col-sm-2" id="header_image">
                    <%= image_tag "UANT_logo.jpg", :class=>"img-rounded", :width=>"65px"%>
                    <!-- <img src="images/UANT_logo.jpg" class="img-rounded" alt="uant-logo" width="65px" > -->
                  </div>
                  <div class="col-sm-10" id="header_text">
                    <h3 id="header_title"><tt> The University of Antarctica </tt></h3>
                    <small id="header_subtitle">A place as real as it is cold, honest. </small>
                  </div>
              </div>
            </div>
        </div>
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="blog/">Message From the Chancellors</a></li>
              <li><a href="academics">Academics</a></li>
              <li><a href="athletics">Athletics</a></li>
              <li><a href="clubs">Clubs</a></li>
              <li><a href="aboutuniversity">About UAnt</a></li>
            </ul>
          </div>
        </div>
      </div>

      <%= yield %>

    </div> <!-- end container -->  
    <!-- right padding -->
    <div class="col-md-2"></div> 
  </body>
</html>
