<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>

    <%= favicon_tag(url_for("/favicon.ico")) %>

    <!-- Stylesheets -->
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= stylesheet_link_tag "http://getbootstrap.com/dist/css/bootstrap.css" %>
    <%= stylesheet_link_tag "extras" %>
    <%= stylesheet_link_tag "offcanvas" %>


    <!-- Javascript -->
    <%= javascript_include_tag "http://code.jquery.com/jquery.min.js" %>
    <%= javascript_include_tag "http://getbootstrap.com/dist/js/bootstrap.js" %>
    <%= javascript_include_tag "offcanvas" %>

    <!-- Nav Bar Selection -->
    <script>
      $(document).ready(function(){
        $("#<%= current_page.data.active_navbar_tab %>").addClass("active");
      });
    </script>

    <!-- Background Selection -->
    <script>
       $(document).ready(function() {
         var bg_img_url = SelectRandomBackgroundImageURL();
         SetImageAsBackground(bg_img_url);
       });

      function SelectRandomBackgroundImageURL(){
         var images = ['01.jpg', '02.jpg', '03.jpg', 
            '04.jpg', '05.jpg', '06.jpg'];

            var chosen_image_name = images[
              Math.floor(
                Math.random() * images.length
              )
            ];

            // I have to use a URL to an actual resource
            // in order to get this relative URL to work properly
            // Ideally I could just get the URL to the directory
            // So I'll get the URL to this resource and then delete the last
            // few characters to get the relative URL to the directory...
            var specific_image_url = '<%=url_for("/images/backgrounds/blue.jpg")%>';
            var image_directory_url = DirectoryURLFromFileURL(specific_image_url);

            var chosen_image_url = image_directory_url + chosen_image_name;
            return chosen_image_url;
      }

      function DirectoryURLFromFileURL(file_url){
         var last_slash_index = file_url.lastIndexOf("/");
         var directory_url = file_url.substring(
              0,last_slash_index+1);
         return directory_url;
      }

      function SetImageAsBackground(chosen_image_url){
          $("#background").attr("src",chosen_image_url);
          $("#background").load(function(evt){
            $("#background").css('opacity','1');
          });
      }
    </script>

  </head>

  <body class="<%= page_classes %>">
    <br/>
    <br/>
    <br/>
    <%= image_tag "background.png", :id=>"background" %>
    <!-- left padding -->
    <div class="col-md-2"></div>
    <div class="container col-md-8 well">
    
      <!-- nav bar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="well"> 
            <div class="container-fluid">
              <div class="row">
                  <div class="col-sm-2" id="header_image">
                    <%= image_tag url_for("UANT_logo.jpg"), :class=>"img-rounded", :width=>"65px"%>
                  </div>
                  <div class="col-sm-10" id="header_text">
                    <h3 id="header_title"><tt> The University of Antarctica </tt></h3>
                    <small id="header_subtitle">A place as real as it is cold, honest. </small>
                  </div>
              </div>
            </div>
        </div>
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

              <li id="navbar-home">
                <%= link_to 'Home', 
                url_for('/index.html') %></li>

              <li id="navbar-blog">
                <%= link_to 'Message From the Chancellors', 
                url_for('/blog.html') %></li>

              <li id="navbar-academics">
                 <%= link_to 'Academics', 
                 url_for('/academics.html') %></li>

              <li id="navbar-athletics">
                 <%= link_to 'Athletics', 
                 url_for('/athletics.html') %></li>

              <li id="navbar-clubs">
                 <%= link_to 'Clubs', 
                 url_for('/clubs.html') %></li>

              <li id="navbar-aboutuniversity">
                 <%= link_to 'About UANT', 
                 url_for('/blog/index.html') %></li>

            </ul>
          </div>
        </div>
      </div>

      <%= yield %>

    </div> <!-- end container -->  
    <!-- right padding -->
    <div class="col-md-2"></div> 
  </body>
</html>
