<% wrap_layout :layout do %>

  <link href=" <%= url_for('/stylesheets/offcanvas.css') %> " rel="stylesheet" type="text/css" />

  <script>
    $(document).ready(function () {
      $('[data-toggle="offcanvas"]').click(function () {
        $('.row-offcanvas').toggleClass('active')
      });
    });
  </script>



<div>
  <div class="col-md-2">




    <ul class="nav nav-pills nav-stacked sidebar">

      <h3>
        <span class="label label-primary">Our Projects
        </span>
      </h3>

      <li role="presentation">
        <a href="<%=url_for('/projects/index.html') %> ">
          Overview
        </a>
      </li>
    
      <li role="presentation">
        <a href="<%=url_for('/projects/complete/snowduino.html') %> ">
          Snowduino
        </a>
      </li>

      <li role="presentation">
        <a href="<%=url_for('/projects/complete/elf.html') %> ">
          Elf On The Ice Shelf
        </a>
      </li>

      <li role="presentation">
        <a href="<%=url_for('/projects/complete/icegammon.html') %> ">
          Icegammon
        </a>
      </li>
     
      <h3>
        <span class="label label-primary">
          About Us
        </span>
      </h3>

      <li role="presentation">
        <a href="<%=url_for('/aboutus.html') %> ">
          FAQs
        </a>
      </li>

      <li role="presentation">
        <a href="<%=url_for('/aboutus.html') %> ">
          The Authors
        </a>
      </li>

      <li role="presentation">
        <a href="<%=url_for('/aboutus.html') %> ">
          Our Mission
        </a>
      </li>

      <li role="presentation">
        <a href="<%=url_for('/aboutus.html') %> ">
          Our Equipment
        </a>
      </li>


      <h3>
        <span class="label label-primary">Helpful Links
        </span>
      </h3>

      <li role="presentation">
        <a href="<%=url_for('/aboutus.html') %> ">
          Link One
        </a>
      </li>

      <li role="presentation">
        <a href="<%=url_for('/aboutus.html') %> ">
          Link Two
        </a>
      </li>

    </ul>









  </div>

  <div class="col-md-10">
    <%= yield %>
  </div>

</div>
<% end %>