<% wrap_layout :layout do %>

  <link href=" <%= url_for('/stylesheets/offcanvas.css') %> " rel="stylesheet" type="text/css" />

  <script>
    $(document).ready(function () {
      $('[data-toggle="offcanvas"]').click(function () {
        $('.row-offcanvas').toggleClass('active')
      });
    });

    <!-- Side Bar Selection -->
    $(document).ready(function(){
      if(ThereExistsSidebarSelectionFrontmatter){
        $("#" + GetSidebarSelectionFrontmatter() + ">a")
        .append(
          "<span class='glyphicon glyphicon-star' aria-hidden='true'></span>"
        );
      }
    });
    
    function GetSidebarSelectionFrontmatter(){
      return '<%=current_page.data.active_sidebar_tab%>'
    }
    function ThereExistsSidebarSelectionFrontmatter(){
      return GetSidebarSelectionFrontmatter().length > 0;
    }

  </script>



<div>
  <div class="col-md-2">

    <ul class="nav nav-pills nav-stacked sidebar">

      <h3>
        <span class="label label-primary">Our Projects
        </span>
      </h3>

      <li id="sidebar_projects" role="presentation">
        <a href="<%=url_for('/projects/index.html') %> ">
          All Projects
        </a>
      </li>
    
      <li id="sidebar_snowduino" role="presentation">
        <a href="<%=url_for('/projects/complete/snowduino.html') %> ">
          Snowduino
        </a>
      </li>

      <li id="sidebar_elfotis" role="presentation">
        <a href="<%=url_for('/projects/complete/elf.html') %> ">
          Elf On The Ice Shelf
        </a>
      </li>

      <li id="sidebar_icegammon" role="presentation">
        <a href="<%=url_for('/projects/complete/icegammon.html') %> ">
          Icegammon
        </a>
      </li>
     
      <h3>
        <span class="label label-primary">
          About Us
        </span>
      </h3>

      <li role="presentation" class="sidebar_disabled">
        <a>
          FAQs
        </a>
      </li>

      <li id="sidebar_aboutus" role="presentation">
        <a href="<%=url_for('/aboutus.html') %> ">
          The Authors
        </a>
      </li>

      <li role="presentation" class="sidebar_disabled">
        <a>
          Our Mission
        </a>
      </li>

      <li role="presentation" class="sidebar_disabled">
        <a>
          Our Equipment
        </a>
      </li>


      <h3>
        <span class="label label-primary">Helpful Links
        </span>
      </h3>

      <li role="presentation" class="sidebar_disabled">
        <a>
          Link One
        </a>
      </li>

      <li role="presentation" class="sidebar_disabled">
        <a>
          Link Two
        </a>
      </li>

    </ul>

  </div>

  <div class="col-md-10">
    <%= yield %>
  </div>

</div>
<% end %>